<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Epam.FileExchanger.DAL.Properties.Settings.FileExchangerDbConnectionString"
            connectionString="Data Source=desktop-mbiluqg;Initial Catalog=FileExchangerDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>